<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD in NodeJS</title>
</head>
<body>

<h2>Edit Users<h2>
    <% data.forEach(function(details) { %>
        <form action="/edit/<%= details._id %>" method="POST">
            <input type="text" value="<%= details.name %>" name="name">
            <input type="text" value="<%= details.surname %>" name="surname">
            <br />
            <button><a href="/show">All Users</a></button>
            <button type="submit">Edit</button>
        </form>
    <% }) %>
</body>
</html>